<form [formGroup]="sectionsForm">

  <!--
    using `formArrayName` you specify the `control` key name from the group
    this context resides - `sectionsForm`(see the console.log from inside the component).

    tl;dr - get the control named "sections" from inside the `sectionsForm`,
    then iterate over its own controls(`sectionsFormArray.controls`) and then
    fetch/access its own controls - "name" and "type" fields(`getControlFromSection(sectionGroup, 'name')`)
  -->
  <div formArrayName="sections">
    <button (click)="onAddSection()">add new</button>

    <div *ngFor="let sectionGroup of sectionsFormArray.controls; let i=index" style="margin-bottom: 18px">
      <div [formGroup]="sectionGroup">
        <div>
          <label>
            <b>name</b>:
            <input type="text" formControlName="name">
            dirty: {{getControlFromSection(sectionGroup, 'name').dirty}}
            invalid: {{getControlFromSection(sectionGroup, 'name').invalid}}
          </label>
        </div>

        <div>
          <label>
            <b>type</b>:
            <input type="text" formControlName="type">
            dirty: {{getControlFromSection(sectionGroup, 'type').dirty}}
            invalid: {{getControlFromSection(sectionGroup, 'type').invalid}}
          </label>
        </div>

      </div>

    </div>
  </div>

</form>
